- breadcrumb_title _("Integrations")
- page_title @service.title, _("Services")
- add_to_breadcrumbs(_("Settings"), edit_project_path(@project))

= render 'deprecated_message' if @service.deprecation_message

= render 'form'
