/**
 * Container Registry
 */

div.container-message {
  display: flex;
  flex-direction: column;
  max-width: 460px;
  padding: 16px;
  margin: 5% auto;

  img {
    max-width: 425px;
    width: 100%;
  }

  h4 {
    margin-top: 42px;
  }
}

.container-image {
  border-bottom: 1px solid $white-normal;
}

.container-image-head {
  padding: 0 16px;
  line-height: 4em;

  .btn-link {
    padding: 0;

    &:focus {
      outline: none;
    }
  }
}

.table.tags {
  margin-bottom: 0;
}
