- bold_start = '<strong>'.html_safe
- bold_end = '</strong>'.html_safe
%p= s_('ProjectSettings|Choose your %{bold_start}Merge method%{bold_end}, %{bold_start}Merge options%{bold_end}, and %{bold_start}Merge checks%{bold_end}.').html_safe % { bold_start: bold_start, bold_end: bold_end }